* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --primary-color: #fcb738;
    --secondary-color: #024e76;
    --tertiary-color: #101213;
    --primary-color-transparent: rgba(175, 160, 192, 0.8);
    --secondary-color-transparent: rgba(2, 78, 118, 0.8);
  }
  
  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    
 
  }
  
  header {
    background-color: #1c89d1;
    padding: 25px 25px;
    background-position: 80%;
    background-attachment:fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: left-right;
    flex-wrap: wrap;
    position:relative;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    image-resolution: 800%;
  }

  img.resize {
    width: 1250px; /* you can use % */
    height: auto;
}




  
.miami2 {
  height: auto; 
  width: auto; 
  max-width: 1250px; 
  max-height: 1250px;
}

.my-image {
  width: 1250px;
  height: 1250px;
  object-fit: contain;
}
.miami2 {
  width: 1250px;
  height: 1250px;
  object-fit: contain;
}

  header h1 {
    display: flex;
    flex-wrap:wrap;
    align-items:left;
    font-display: left;
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0px 0 15px rgba(0, 0, 0, 0.5);
  
  }
  
  header h2 {
     align-items: center;
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
  }
  
  header nav {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: 200;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow:none;
  }
  /* STYLE ALL SECTION TAGS */
  section {
    padding: 60px;
  }
  /* SECTION TITLE STYLES START */
  .section-title {
    font-size: 48px;
    padding-bottom: 20px;
    width: 50%;
    border-bottom: 2px solid;
    margin: 0 auto 35px auto;
    color: var(--secondary-color);
    text-align: center;
  }
  
  .primary-border {
    border-color: var(--primary-color);
  }
  
  .secondary-border {
    border-color: var(--tertiary-color);
  }
  /* SECTION TITLE STYLES END */
  
  /* PROFILE */
  
  .intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    margin: 0 auto;
    font-size: 80px;
    text-align: center;
  
    
  }
  
  
  *{
    box-sizing: border-box;
    
  }
  
  body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
    .images {
        display: flex;
        align-items: flex-start;
        min-height:fit-content
       }
      
  
  h3{
    font-weight: bold;
  }
  .forecast{
    
    font-size: 0.9em;
  }
  span{
    font-size: 1em;
  }
  li:hover{
    background-color: rgb(70, 223, 10);
    text-decoration: underline;
  }
  
  /* Code By Webdevtrick ( https://webdevtrick.com ) */
  @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
  * {
   box-sizing: border-box;
  }
  body {
   background: linear-gradient(to bottom, #09e4e4 0%, #aff2ff 50%, #50dcff 50%, #50dcff 100%);
   font-family: 'Muli', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 425vh;
   margin: 0;
  }

   .images {
    display: flex;
    align-items: center;
    min-height:fit-content;
    height:max-content;
   }

  
  .currency {
   display: flex;
   align-items: center;
   justify-content: space-between;
  }
  .currency select {
   background: transparent;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
      background-repeat: no-repeat, repeat;
      background-position: right .2em top 50%, 0 0;
      background-size: .50em auto, 100%;
   border: 0;
   padding-right: 20px;
   font-size: 22px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
  }
  .currency input {
   border: 0;
   background: transparent;
   font-size: 22px;
   text-align: right;
  }
  .middle {
   color: #f59300;
   display: flex;
   align-items: center;
   justify-content: space-between;
  }
  .middle button {
   background-color: #fff;
   border: 2px solid #ecf0f1;
   border-radius: 50%;
   cursor: pointer;
   color: #f59300;
   font-size: 18px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 30px;
   width: 30px;
   transform: rotate(90deg);
  }
  .middle button:active {
   transform: rotate(90deg) scale(0.9);
  }
  .middle .rate {
   background-color: #fff;
   border: 2px solid #ecf0f1;
   border-radius: 50px;
   font-size: 18px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 30px;
   padding: 0 10px;
   margin: 30px 15px 30px 25px;
  }
  select:focus, input:focus, button:focus {
   outline: 0;
  }
  
  /* 2.4 - MEDIA QUERIES FOR SMALL SCREENS TO TABLETS */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
  
  
    .contact-info iframe{
      flex: 1 100%;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
  
    /* Style all font awesome icons */
  .fa {
    padding: 50px;
    font-size: 70px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .miami2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../images/miami2.jpg");
    /* height removed NA flexbox */
    background-size: cover;
    /*Change b-p from center to 80% for final */
    background-position: 80%;
    /*Add b-attachment fixed to match image with header section */
    background-attachment: fixed;
    /* Add position relative to the hero section to position the hero-form. NA with 2.0 flexbox */
    /* Add align-items flex-start for mediaquery version */
    align-items: flex-start;
}
  }




  
  
  /* 2.4 - MEDIA QUERIES FOR TABLETS DOWN TO PHONES */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .checkbox label, .radio label {
      margin: 24px;
    }
    
    .section-title {
      width: 100%;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: ce;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  
   
    }/* 2.4 - MEDIA QUERIES FOR PHONE */
  @media screen and (max-width: 575px) {
    
  
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }
  }